* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #111;
}

#box {
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-radius: 20px;
    position: absolute;
    animation-name: anime;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

/* @keyframes anime {
    from {
        left: 0;
        rotate: 0deg;
        background-color: crimson;
    }

    to {
        left: 70%;
        rotate: 360deg;
        background-color: aqua;
    }
} */
h1 {
    color: white;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Gilroy', sans-serif;
    text-align: center;
    position: relative;
}

/* h1::after {
    content: ' Dwivedi';
}

h1::before {
    content: 'Mr.';
} */

/* #box1, #box2, #box3 {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
}
#box1 {
    background-color: crimson;
}
#box2 {
    background-color: aqua;
}
#box3 {
    background-color: lime;
} */


#page1, #page2, #page3 {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page1{
    background-color: rgb(65, 161, 225);
}
#page2{
    background-color: rgb(116, 180, 222);
}
#page3{
    background-color: rgb(19, 83, 111);
}