* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #111;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(48, 35, 35);
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(33, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(88, 69, 87);
}

#box{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
}