@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../public/fonts/Lausanne-500.woff2);
}
@font-face {
    font-family: font3;
    src: url(../public/fonts/Poppins-Regular.ttf);
}

body{
    background-color: #111;
}

.moveX {
    animation-name: moveAnimation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAnimation {
    from{
        transrform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}
.moveLink {
    cursor: pointer;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.link:hover .moveLink{
    opacity: 1;
}